
body {
    background-image: url(DALL·E\ 2024-11-19\ 16.56.35\ -\ A\ serene\ and\ inspiring\ background\ image\ for\ a\ motivational\ quotes\ webpage.\ The\ scene\ includes\ a\ sunrise\ over\ a\ tranquil\ mountain\ range\ with\ soft\ golde.webp);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 50px;
}

.quote-container {
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
    background: #ffffffc5;
    
    border-radius: 10px;
}
.quote-text {
    font-size: 24px;
    font-style: italic;
    color: #555;
}
.quote-author {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #777;
}


footer {
    bottom: 5px;
    right: 5px;
    font-size: 14px;
    color: #777777;
}